* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#map-canvas {
    height: 1000px;
}

.controls {
    position: absolute;
    width: 300px;
    height: 200px;
    padding: 15px;
    top: 0px;
    left: 0px;
    background-color: darkgrey;
    z-index: 10000;
}

.controls div {
    float: left;
    color: blue;
}

.inputWrapper {
    padding-top: 20px;
    float: right;
    width: 60%;
}

.infoName {
	padding-top: 5px;
    float: left;
}

.infoWrapper {
    float: right;
    padding-top: 20px;
    width: 35%;
}
